* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(23, 25, 58);
}

.figura1 {
    background-color: rgb(241, 236, 239);
    margin-top: 20%;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    animation: figura 2s infinite forwards;
    box-shadow:  0 0 0px rgb(90, 213, 219),
    0 0 20px rgb(248, 247, 247),
    0 0 40px rgb(243, 118, 228),
    0 0 80px rgba(216, 231, 231, 0.75),
    0 0 100px rgb(244, 248, 248),
    0 0 200px rgba(248, 247, 248, 0.842),
    0 0 300px rgba(240, 245, 245, 0.25);
    cursor: pointer;
}

.figura2 {
    background-color: rgb(201, 37, 127);
    margin-top: 60%;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    animation: figura 2s infinite forwards;
    box-shadow:  0 0 0px rgb(90, 213, 219),
    0 0 20px rgb(211, 76, 132),
    0 0 40px rgb(243, 118, 228),
    0 0 80px rgba(216, 231, 231, 0.75),
    0 0 100px rgb(8, 217, 228),
    0 0 200px rgba(148, 33, 100, 0.842),
    0 0 300px rgba(13, 85, 88, 0.25);
    cursor: pointer;
}

@keyframes figura {
    0% {
        border-color: rgb(229, 235, 233);
        transform: scale(1);
    }
    20% {
        border-color: rgb(243, 180, 219);
        transform: scale(1.1);
    }  
    40% {
        border-color: rgb(200, 196, 255);
        transform: scale(1.2);
    }  
    60% {
        border-color: rgb(189, 250, 237);
        transform: scale(1.2);
    }  
    80% {
        border-color: rgb(245, 172, 172);
        transform: scale(1.1);
    }
    100% {
        border-color: rgb(224, 192, 245);
        transform: scale(1);
    }
}

.moon {
    
}